.section_1_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 90%;
  padding-left: 30px;
  padding-right: 30px;
}

.section_1_content {
  display: flex;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
