.guide_container {
  width: 50%;
  background: var(--light_brown);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.guide_img {
  width: 70%;
  margin: 20px;
  border-radius: 15px;
}

.guide_name {
  font-family: var(--font_text);
  font-size: var(--text_small);
  margin: 0;
  padding: 10px;
}
