.download_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-top: 30px;
}

.download_headline {
  font-family: var(--font_headlines);
  font-size: var(--h3);
  font-weight: 300;
  margin: 0;
}

.download_buttons {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.download_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 275px;
  background: red;
  border-radius: 15px;
  color: var(--light_blue);
  text-decoration: none;
  font-family: var(--font_text);
  font-size: var(--text_small);
  position: relative;
}

.download_button::before {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 15px;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 13, 43, 0.5);
}

.download_button > * {
  z-index: 2;
}

.download_button p {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease;
}

.download_button:hover p {
  border-bottom: 1px solid var(--light_blue);
}

.handout {
  background-image: url("../../assets/lake.jpeg");
  background-size: cover;
}

.map {
  background-image: url("../../assets/map.jpg");
  background-size: cover;
}

@media screen and (min-width: 780px) and (max-width: 1000px) {
  .download_button {
    width: 300px;
    height: 200px;
  }
}
